<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
    
    <!-- ================ -->
	<!-- Define Appenders -->
	<!-- ================ -->
    
    <!-- Console Appender -->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"  
                    pattern="%d{HH:mm:ss.SSS} %highlight{%-1p} [%t] %c{2}: %m%n"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="STDERRAPPENDER" target="SYSTEM_ERR">
            <PatternLayout disableAnsi="false"  
                    pattern="%d{HH:mm:ss.SSS} %highlight{%-1p} [%t] %c{2}: %m%n"/>
        </Console>
        
        <RollingFile name="FILE"
                  fileName="${sys:logFolderPath}/application.log"
                     filePattern="${sys:logFolderPath}/application-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} %-5p [%t] %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <RollingFile name="GECKO"
                  fileName="${sys:logFolderPath}/gecko.log"
                     filePattern="${sys:logFolderPath}/gecko-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} %-5p [%t] %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <RollingFile name="OSGI"
                  fileName="${sys:logFolderPath}/osgi.log"
                     filePattern="${sys:logFolderPath}/osgi-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} %-5p [%t] %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    
    <Loggers> 
        <!-- Für OSGi Events: Bundle, Service, Framework -->
        <Logger name="Events" level="INFO" additivity="false">
            <AppenderRef ref="OSGI"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger> 
        <Logger name="org.gecko.playground" level="INFO" additivity="false">
            <AppenderRef ref="GECKO"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger> 
                          
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration> 