<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
    
    <!-- ================ -->
	<!-- Define Appenders -->
	<!-- ================ -->
    
    <!-- Console Appender -->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} %-1p [%t] %c{2}: %m%n"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="STDERRAPPENDER" target="SYSTEM_ERR">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} %-1p [%t] %c{2}: %m%n"/>
        </Console>
        
        <RollingFile name="FILE"
                  fileName="${sys:logFolderPath}/logs/application.log"
                     filePattern="${sys:logFolderPath}/logs/application-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} [%X{userID}:%X{userAndHost}] [%X{corrID}] %-5p [%t] %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <RollingFile name="OSGI"
                  fileName="${sys:logFolderPath}/logs/osgi.log"
                     filePattern="${sys:logFolderPath}/logs/osgi-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} [%X{userID}:%X{userAndHost}] %-5p [%t] %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    
    <Loggers> 
        <!-- Für OSGi Events: Bundle, Service, Framework -->
        <Logger name="Events" level="WARN" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="OSGI"/>
        </Logger> 
                          
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration> 